extends ../default

block content

  include ../templates/nav

  div(class=['ui','container','grid','stackable'])
    div(class=['sixteen','wide','column'])
      h2(class=['ui','header','blue','dividing'])= 'Lista de Carros'
      
      table(class= ['ui','table','celled'] id='tbl-productos')
        thead 
          tr  
            th= 'ID'
            th= 'Nombre'
            th= 'Precio'
            th= 'Stock'
            th= 'Fecha de Creacion'
            th= 'Acciones'
        tbody 
          each producto in productos
            tr 
              td(id='id_carro')= producto.id_carro
              td= producto.nombre
              td= producto.precio
              td= producto.stock
              td= producto.fecha_creacion
              td
                a(class=['ui button basic icon'] href='#' data-inverted='' 
                data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon'])

                a(class=['ui button basic icon'] 
                href='http://localhost:3000/modificar/'+producto.id_carro 
                data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['cut icon'])

  script(src='/javascripts/productos.js')